# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

/Users/mustafahgreene/opt/anaconda3/envs/dev/lib/python3.9/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
display(applicant_data_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION","USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"] 

# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
display(encoded_df)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
applicant_data_df = applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]]
encoded_df = pd.concat([applicant_data_df, encoded_df], axis=1)

# Review the Dataframe
display(encoded_df)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df[["IS_SUCCESSFUL"]]

# Display a sample of y
display(y)

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 1 columns]

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
display(X)

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [14]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [15]:
# Define the number of neurons in the output layer
number_output_neurons = 2

In [16]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 8

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

8

In [17]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4

In [18]:
# Create the Sequential model instance
nn = Sequential()

2022-09-01 08:58:26.565896: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [19]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [20]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [21]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="linear"))

In [22]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 936

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 977
Trainable params: 977
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [23]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
fit_model_50 = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 960us/step - loss: 0.9771 - accuracy: 0.6813
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7155 - accuracy: 0.7110
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6749 - accuracy: 0.7135
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6450 - accuracy: 0.7165
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6537 - accuracy: 0.7206
Epoch 6/50
804/804 [==============================] - 1s 969us/step - loss: 0.6439 - accuracy: 0.7147
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6566 - accuracy: 0.7041
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6456 - accuracy: 0.7044
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6341 - accuracy: 0.7176
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6294 - accuracy: 0.7203
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6308 - accuracy: 0.7206
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6324 - accuracy: 0.7224
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6293 - accuracy: 0.7264
Epoch 14/50
804/804 [==============================] - 1s 938us/step - loss: 0.6283 - accuracy: 0.7229
Epoch 15/50
804/804 [==============================] - 1s 984us/step - loss: 0.6250 - accuracy: 0.7252
Epoch 16/50
804/804 [==============================] - 1s 929us/step - loss: 0.6273 - accuracy: 0.7228
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6235 - accuracy: 0.7257
Epoch 18/50
804/804 [==============================] - 1s 908us/step - loss: 0.6204 - accuracy: 0.7270
Epoch 19/50
804/804 [==============================] - 1s 954us/step - loss: 0.6249 - accuracy: 0.7264
Epoch 20/50
804/804 [==============================] - 1s 981us/step - loss: 0.6231 - accuracy: 0.7268
Epoch 21/50
804/804 [==============================] - 1s 987us/step - loss: 0.6234 - accuracy: 0.7268
Epoch 22/50
804/804 [==============================] - 1s 986us/step - loss: 0.6207 - accuracy: 0.7271
Epoch 23/50
804/804 [==============================] - 1s 988us/step - loss: 0.6138 - accuracy: 0.7278
Epoch 24/50
804/804 [==============================] - 1s 949us/step - loss: 0.6147 - accuracy: 0.7288
Epoch 25/50
804/804 [==============================] - 1s 990us/step - loss: 0.6075 - accuracy: 0.7259
Epoch 26/50
804/804 [==============================] - 1s 938us/step - loss: 0.6015 - accuracy: 0.7280
Epoch 27/50
804/804 [==============================] - 1s 999us/step - loss: 0.6034 - accuracy: 0.7286
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6112 - accuracy: 0.7292
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6101 - accuracy: 0.7294
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6019 - accuracy: 0.7287
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5987 - accuracy: 0.7285
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6001 - accuracy: 0.7278
Epoch 33/50
804/804 [==============================] - 1s 944us/step - loss: 0.6026 - accuracy: 0.7299
Epoch 34/50
804/804 [==============================] - 1s 960us/step - loss: 0.5978 - accuracy: 0.7290
Epoch 35/50
804/804 [==============================] - 1s 959us/step - loss: 0.5976 - accuracy: 0.7282
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6030 - accuracy: 0.7282
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5997 - accuracy: 0.7273
Epoch 38/50
804/804 [==============================] - 1s 923us/step - loss: 0.5983 - accuracy: 0.7282
Epoch 39/50
804/804 [==============================] - 1s 903us/step - loss: 0.5973 - accuracy: 0.7272
Epoch 40/50
804/804 [==============================] - 1s 887us/step - loss: 0.5963 - accuracy: 0.7292
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5968 - accuracy: 0.7284
Epoch 42/50
804/804 [==============================] - 1s 954us/step - loss: 0.5971 - accuracy: 0.7301
Epoch 43/50
804/804 [==============================] - 1s 975us/step - loss: 0.5989 - accuracy: 0.7287
Epoch 44/50
804/804 [==============================] - 1s 923us/step - loss: 0.5997 - accuracy: 0.7268
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5972 - accuracy: 0.7286
Epoch 46/50
804/804 [==============================] - 1s 998us/step - loss: 0.5967 - accuracy: 0.7313
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5961 - accuracy: 0.7304
Epoch 48/50
804/804 [==============================] - 1s 975us/step - loss: 0.5935 - accuracy: 0.7308
Epoch 49/50
804/804 [==============================] - 1s 927us/step - loss: 0.5933 - accuracy: 0.7302
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5932 - accuracy: 0.7300

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [25]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6121 - accuracy: 0.7308 - 372ms/epoch - 1ms/step
Loss: 0.612148642539978, Accuracy: 0.7308454513549805

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [26]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [27]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [28]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 2

In [29]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [30]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [31]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))


# Output layer
nn_A1.add(Dense(units=1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 10)                1170

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 1,181
Trainable params: 1,181
Non-trainable params: 0
_________________________________________________________________

In [32]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics = ["accuracy"])

In [33]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.7727 - accuracy: 0.6424
Epoch 2/50
804/804 [==============================] - 1s 920us/step - loss: 1.1079 - accuracy: 0.7018
Epoch 3/50
804/804 [==============================] - 1s 913us/step - loss: 1.0699 - accuracy: 0.6951
Epoch 4/50
804/804 [==============================] - 1s 967us/step - loss: 0.9857 - accuracy: 0.7053
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9360 - accuracy: 0.7105
Epoch 6/50
804/804 [==============================] - 1s 913us/step - loss: 0.9590 - accuracy: 0.7128
Epoch 7/50
804/804 [==============================] - 1s 888us/step - loss: 1.0769 - accuracy: 0.6874
Epoch 8/50
804/804 [==============================] - 1s 880us/step - loss: 1.0346 - accuracy: 0.7086
Epoch 9/50
804/804 [==============================] - 1s 919us/step - loss: 0.9366 - accuracy: 0.7102
Epoch 10/50
804/804 [==============================] - 1s 858us/step - loss: 0.9151 - accuracy: 0.7153
Epoch 11/50
804/804 [==============================] - 1s 894us/step - loss: 0.9079 - accuracy: 0.7096
Epoch 12/50
804/804 [==============================] - 1s 910us/step - loss: 0.8929 - accuracy: 0.7142
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8908 - accuracy: 0.7195
Epoch 14/50
804/804 [==============================] - 1s 974us/step - loss: 0.8856 - accuracy: 0.7189
Epoch 15/50
804/804 [==============================] - 1s 940us/step - loss: 0.9129 - accuracy: 0.7114
Epoch 16/50
804/804 [==============================] - 1s 981us/step - loss: 0.8918 - accuracy: 0.7158
Epoch 17/50
804/804 [==============================] - 1s 899us/step - loss: 0.8981 - accuracy: 0.7152
Epoch 18/50
804/804 [==============================] - 1s 975us/step - loss: 0.9642 - accuracy: 0.7070
Epoch 19/50
804/804 [==============================] - 1s 995us/step - loss: 1.0128 - accuracy: 0.7066
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8833 - accuracy: 0.7035
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8624 - accuracy: 0.7194
Epoch 22/50
804/804 [==============================] - 1s 998us/step - loss: 0.8889 - accuracy: 0.7066
Epoch 23/50
804/804 [==============================] - 1s 917us/step - loss: 0.9220 - accuracy: 0.6903
Epoch 24/50
804/804 [==============================] - 1s 930us/step - loss: 0.9052 - accuracy: 0.6922
Epoch 25/50
804/804 [==============================] - 1s 926us/step - loss: 0.8910 - accuracy: 0.7122
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8890 - accuracy: 0.7160
Epoch 27/50
804/804 [==============================] - 1s 938us/step - loss: 1.0990 - accuracy: 0.7025
Epoch 28/50
804/804 [==============================] - 1s 999us/step - loss: 1.0613 - accuracy: 0.6943
Epoch 29/50
804/804 [==============================] - 1s 967us/step - loss: 0.8643 - accuracy: 0.7152
Epoch 30/50
804/804 [==============================] - 1s 952us/step - loss: 0.8472 - accuracy: 0.7187
Epoch 31/50
804/804 [==============================] - 1s 936us/step - loss: 0.8424 - accuracy: 0.7226
Epoch 32/50
804/804 [==============================] - 1s 992us/step - loss: 0.8428 - accuracy: 0.7170
Epoch 33/50
804/804 [==============================] - 1s 999us/step - loss: 0.8883 - accuracy: 0.7173
Epoch 34/50
804/804 [==============================] - 1s 962us/step - loss: 0.8893 - accuracy: 0.7154
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8957 - accuracy: 0.7047
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8294 - accuracy: 0.7178
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8265 - accuracy: 0.7201
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8459 - accuracy: 0.7157
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8210 - accuracy: 0.7123
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8367 - accuracy: 0.7150
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8159 - accuracy: 0.7166
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8026 - accuracy: 0.7211
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8026 - accuracy: 0.7202
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7983 - accuracy: 0.7197
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8181 - accuracy: 0.7177
Epoch 46/50
804/804 [==============================] - 1s 978us/step - loss: 0.8330 - accuracy: 0.7174
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8056 - accuracy: 0.7155
Epoch 48/50
804/804 [==============================] - 1s 960us/step - loss: 0.7848 - accuracy: 0.7227
Epoch 49/50
804/804 [==============================] - 1s 933us/step - loss: 0.7856 - accuracy: 0.7229
Epoch 50/50
804/804 [==============================] - 1s 948us/step - loss: 0.8084 - accuracy: 0.7063

#### Alternative Model 2

In [34]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [35]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [36]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 22

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

# Second hidden layer
hidden_nodes_layer2_A2 = 8

In [37]:
# Create the Sequential model instance
nn_A = Sequential()

In [38]:
# First hidden layer
nn_A.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation='relu'))
# Second hidden layer
nn_A.add(Dense(units=hidden_nodes_layer2_A2, activation='relu'))
# Output layer
nn_A.add(Dense(units=number_output_neurons_A2, activation='linear'))

# Check the structure of the model
nn_A.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 22)                2574

 dense_6 (Dense)             (None, 8)                 184

 dense_7 (Dense)             (None, 1)                 9

=================================================================
Total params: 2,767
Trainable params: 2,767
Non-trainable params: 0
_________________________________________________________________

In [39]:
# Compile the model
nn_A.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [40]:
# Fit the model
fit_model_A= nn_A.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1631 - accuracy: 0.6762
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8478 - accuracy: 0.7052
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8404 - accuracy: 0.7058
Epoch 4/50
804/804 [==============================] - 1s 985us/step - loss: 0.8334 - accuracy: 0.7171
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8175 - accuracy: 0.7198
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8268 - accuracy: 0.7204
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8826 - accuracy: 0.7095
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7911 - accuracy: 0.7186
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7592 - accuracy: 0.7256
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7420 - accuracy: 0.7257
Epoch 11/50
804/804 [==============================] - 1s 985us/step - loss: 0.7273 - accuracy: 0.7261
Epoch 12/50
804/804 [==============================] - 1s 985us/step - loss: 0.7313 - accuracy: 0.7219
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7029 - accuracy: 0.7218
Epoch 14/50
804/804 [==============================] - 1s 998us/step - loss: 0.7044 - accuracy: 0.7281
Epoch 15/50
804/804 [==============================] - 1s 997us/step - loss: 0.6921 - accuracy: 0.7266
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6813 - accuracy: 0.7222
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6714 - accuracy: 0.7259
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6657 - accuracy: 0.7271
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6549 - accuracy: 0.7313
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6641 - accuracy: 0.7308
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6626 - accuracy: 0.7276
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6633 - accuracy: 0.7176
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6482 - accuracy: 0.7280
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6435 - accuracy: 0.7314
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6246 - accuracy: 0.7311
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6184 - accuracy: 0.7294
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6226 - accuracy: 0.7234
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6207 - accuracy: 0.7299
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6242 - accuracy: 0.7295
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6068 - accuracy: 0.7296
Epoch 31/50
804/804 [==============================] - 1s 999us/step - loss: 0.6092 - accuracy: 0.7328
Epoch 32/50
804/804 [==============================] - 1s 988us/step - loss: 0.6123 - accuracy: 0.7302
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6081 - accuracy: 0.7319
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6120 - accuracy: 0.7289
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6108 - accuracy: 0.7308
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6029 - accuracy: 0.7327
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6006 - accuracy: 0.7337
Epoch 38/50
804/804 [==============================] - 1s 985us/step - loss: 0.6036 - accuracy: 0.7303
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6121 - accuracy: 0.7320
Epoch 40/50
804/804 [==============================] - 1s 981us/step - loss: 0.6131 - accuracy: 0.7334
Epoch 41/50
804/804 [==============================] - 1s 977us/step - loss: 0.6118 - accuracy: 0.7338
Epoch 42/50
804/804 [==============================] - 1s 989us/step - loss: 0.6147 - accuracy: 0.7324
Epoch 43/50
804/804 [==============================] - 1s 956us/step - loss: 0.6125 - accuracy: 0.7338
Epoch 44/50
804/804 [==============================] - 1s 933us/step - loss: 0.6123 - accuracy: 0.7297
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6106 - accuracy: 0.7312
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6034 - accuracy: 0.7349
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6145 - accuracy: 0.7298
Epoch 48/50
804/804 [==============================] - 1s 946us/step - loss: 0.6109 - accuracy: 0.7345
Epoch 49/50
804/804 [==============================] - 1s 948us/step - loss: 0.6102 - accuracy: 0.7356
Epoch 50/50
804/804 [==============================] - 1s 929us/step - loss: 0.6091 - accuracy: 0.7340

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [41]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.7639 - accuracy: 0.7177 - 234ms/epoch - 873us/step
Loss: 0.7638876438140869, Accuracy: 0.7176676392555237

In [42]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7639 - accuracy: 0.7177 - 159ms/epoch - 593us/step
Loss: 0.7638876438140869, Accuracy: 0.7176676392555237

In [43]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6072 - accuracy: 0.7308 - 252ms/epoch - 939us/step
Loss: 0.6072238087654114, Accuracy: 0.7308454513549805

### Step 3: Save each of your alternative models as an HDF5 file.

In [44]:
# Set the file path for the first alternative model
file_path = Path("Resources/AlphabetSoup_a1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [45]:
# Set the file path for the second alternative model
file_path = Path("Resources/AlphabetSoup_a2.h5")

# Export your model to a HDF5 file
nn_A.save(file_path)